body {
        height: 200px;
        width: 100rem;
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #ee7752, #e73c7e, #9581F4, #23a6d5, #23d5ab);
        background-repeat: no-repeat;
}
